# IMPORTANT!!! Before committing and pushing, run "git rm --cached <file_name>"

# Directories
# EXAMPLE: build/

# Documents
*NOTES*.txt
NOTES.txt
/doc.docx

# Log files
*.log

# Videos
assets/videos/
/videos
videos/
*.mov
*.mp4

# Ignore Node modules
node_modules/

# Microsoft PlayFab namespace (Game Leaderboard)
*/wormhole-game/playfab-namespace.png
*/wormhole-game/playfab-titleid.txt
*/wormhole-game/playfab-api.png
