# IMPORTANT!!! Before committing and pushing, run "git rm --cached <file_name>"

# Ignore directories
# EXAMPLE: build/

# Ignore files
*NOTES*.txt
NOTES.txt

# Ignore log files
*.log

assets/videos/
/videos
videos/

*.mov
*.mp4
