/* General settings */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;  /* Page margins */
    padding: 0;
  }

  video {
    width: 100%;  /* 100% of the browser window's width */
    height: auto; /* height scales with width */
  }
