/* General settings */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;  /* Page margins */
    padding: 0;
  }

.video-container {
    width: 100%;
    overflow: hidden;  /* Prevents overflow if video exceeds container size */
    padding: 0; 
}

video {
    width: 100%;
    height: auto;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

/* Floating navigation */
.floating-nav {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #333;
    padding: 10px;
    border-radius: 0 10px 10px 0;
    z-index: 1000;
}

.floating-nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
}

.floating-nav a:hover {
    background-color: #555;
}

/* Page sections */
section {
    padding: 100px 20px;
    border-bottom: 1px solid #ccc;
}

section#home {
    background-color: #f4f4f4;
}

section#java-enhancements {
    background-color: #e9ecef;
}

section#super-mario-bros {
    background-color: #dee2e6;
}
